<svg xmlns="http://www.w3.org/2000/svg" width="90" height="20">
  <mask id="a">
    <rect width="90" height="20" rx="3" fill="#fff"/>
  </mask>
  <g mask="url(#a)">
    <path fill="#555" d="M0 0h47v20H0z"/>
    <path fill="#4c1" d="M47 0h53v20H47z"/>
  </g>
  <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
    <text x="22.5" y="14">rating</text>
    <text x="68.5" y="14"><%= @rating %></text>
  </g>
</svg>
